/* GENERAL CSS */

.loader {
  margin: 200px auto;
  --d: 22px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: red;
  box-shadow: calc(1 * var(--d)) calc(0 * var(--d)) 0 0,
    calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 1px,
    calc(0 * var(--d)) calc(1 * var(--d)) 0 2px,
    calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 3px,
    calc(-1 * var(--d)) calc(0 * var(--d)) 0 4px,
    calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 5px,
    calc(0 * var(--d)) calc(-1 * var(--d)) 0 6px;
  animation: l27 1s infinite steps(8);
}
@keyframes l27 {
  100% {
    transform: rotate(1turn);
  }
}
.container {
  max-width: 1230px;
  margin: 0 auto;
}
.display-hide {
  display: none;
}
h1 {
  font-size: 48px;
  font-weight: bold;
  color: white;
}
h2 {
  font-size: 24px;
  color: gold;
  width: 110px;
}
.opac-main {
  background-color: rgba(0, 0, 0, 0.75);
  height: 100%;
  overflow: scroll;
}
button {
  border: none;
  background-color: transparent;
}
button:hover {
  cursor: pointer;
}
.link {
  text-decoration: none;
  color: black;
}
h3 {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: red;
}
/* COMPONENTS ---------- */
.add-fav {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  display: flex;
  justify-content: center;
  background-color: #f4171f;
  border: gold 1px solid;
  color: white;
  box-shadow: 0px 0px 5px gold;
}
.modal {
  display: flex;

  width: 100vw;
  height: calc(100vh + 100px);
  border: yellow solid 1px;
  position: fixed;
  top: 0px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
}
.modal span {
  color: yellow;
  text-align: center;
  font-size: 14px;
}
.modal-button {
  background-color: #f4171f;
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 270px;
  margin: 100px auto;
  justify-content: space-around;
  padding: 15px;
  border-radius: 10px;
  color: white;

  box-shadow: 0px 0px 10px gray;
}
.modal-button button {
  color: white;
  background-color: black;
  border-radius: 5px;
  height: 50px;
  box-shadow: 0px 0px 8px white;
}
.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black;
  height: 30px;
  padding: 5px;
  box-shadow: 0px 0px 5px white;
  border-radius: 3px;
}
.connexion {
  font-size: 14px;
  text-align: center;
}
.connexion:hover {
  cursor: pointer;
}
/* HEADER */
header {
  background-image: url("/src/assets/img/marvel-logo.jpg");
  background-size: cover;
  background-position: bottom;
  height: 100px;
  z-index: 1;
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0px 5px 5px black, 0px 0px 15px rgb(74, 1, 1), 0px 10px 10px black;
}
.label-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black;
  width: 500px;
  max-width: 500px;
  min-width: 200px;
  height: 35px;
  padding: 5px;
  box-shadow: 0px 0px 5px white;
  border-radius: 3px;
}
.label-search > input {
  width: 100%;
}
.affice-page {
  display: flex;
  color: white;
  position: absolute;
  top: 80px;
  left: 365px;
  align-items: center;
  gap: 10px;
}
.affice-page input {
  width: 70px;
}
.opac {
  background-color: rgba(0, 0, 0, 0.3);

  height: 100%;
}
.header-sect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.header-img-div {
  width: 100px;
  height: 60px;
}
.header-img-div img {
  width: 100%;
  height: 100%;
}
.buttons-header {
  display: flex;
  gap: 10px;

  height: 100%;
  align-items: center;
}
.buttons-header .link {
  background-color: #f4171f;
  color: white;
  box-shadow: 0px 8px 10px black;
  padding: 5px;
  border-radius: 5px;
  height: 30px;
}
.buttons-header .link:hover {
  box-shadow: 0px 0px 5px gold;
}
/*PAGE /comic/:comicId */
.all-comicId {
  display: flex;
  height: calc(100vh - 100px);
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.75);
}
.retour {
  background-color: #f4171f;
  color: white;
  box-shadow: 0px 8px 10px black;
  padding: 5px;
  border-radius: 5px;
  height: 30px;
  position: absolute;
  right: 350px;
  top: 115px;
}
.description-comic {
  overflow: scroll;
  max-height: 20%;
}
.description-comic h3 {
  text-align: center;
}
.comicId {
  display: flex;
  flex-direction: column;
  padding: 10px;

  width: 40%;
  min-width: 240px;
  min-height: 300px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 5px gray;
  color: white;
  margin: 50px auto;
  gap: 30px;
  border-radius: 15px;
  padding: 15px;
  justify-content: center;
  align-items: center;
}

.comicId-img {
  width: 100%;
  min-height: 50%;
  max-height: 75%;
}
.comicId-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.main-comic {
  background-image: url("/src/assets/img/comic.jpg");
}
/* Page '/' characters */
.main-characters {
  background-image: url("/src/assets/img/character.jpg");
  background-position: center;
  background-size: cover;

  height: 100vh;
  overflow: scroll;
}
.all-characters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: calc(100vw - 210px);
  max-width: 1230px;

  margin: 50px auto;
}
.relative {
  position: relative;
}
.relative:hover {
  transform: scale(1.1);
  z-index: 1;
}
.characters {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0px 0px 5px gold;
  width: 300px;
  height: 400px;
  overflow: hidden;
  color: white;
  border-radius: 15px;
  border: solid 5px #a08801;
}
.characters:hover {
  box-shadow: 0px 0px 15px gold;
  /* transform: scale(1.2); */
  height: 450px;
}
.characters-img-div {
  width: 100%;
  height: 300px;
}

.characters-img-div img {
  width: 100%;
  min-height: 250px;
  height: 100%;
  object-fit: cover;
}
/* PAGE /comics/:id */
.main-comics-characters {
  background-image: url("/src/assets/img/comic.jpg");

  height: calc(100vh - 100px);
  overflow: scroll;
}
.main-comics-characters h1 {
  color: gold;
  text-align: center;
  padding-top: 100px;
}
.all-comics-characters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  width: calc(100vw - 210px);
  max-width: 1230px;

  margin: 30px auto;
}
.comics-characters {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0px 0px 10px black;

  width: 300px;
  height: 450px;
  border: 5px solid #a08801;
  color: white;
  border-radius: 15px;
  margin-bottom: 10px;
  position: relative;
}
.comics-characters:hover {
  box-shadow: 0px 0px 15px red;
  transform: scale(1.2);
  height: 450px;
  overflow: initial;
  z-index: 2;
}
.description {
  width: 100%;
  height: 30px;
  background-color: #a08801;
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
  padding-top: 5px;
}
.comic-characters-img {
  width: 100%;
}
.comics-characters-img img {
  width: 100%;
  height: 390px;
  object-fit: contain;
}
/* page /comics */
.comics-img {
  width: 100%;
  height: 300px;
}
.comics-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.comics-all {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0px 0px 5px gold;
  width: 300px;
  height: 400px;
  overflow: hidden;
  color: white;
  border-radius: 15px;
  border: solid 5px #a08801;
}
.comics-all:hover {
  box-shadow: 0px 0px 15px gold;

  height: 450px;
}
/* favorite */
.all-fav-character {
  display: flex;
  height: 380px;

  overflow: scroll;
  gap: 20px;
  align-items: center;
  scrollbar-width: none;
  /* padding-top: 30px; */
}
.img-fav-character {
  height: 200px;
  width: 200px;
}
.img-fav-character img {
  width: 100%;
  height: 100%;

  object-fit: contain;
}
.fav-character {
  height: 90%;
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 10px;
  background-color: gray;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #a08801;
  flex-shrink: 0;
}
.opac-fav {
  background-color: rgba(0, 0, 0, 0.75);
  height: 100%;
}
@media (max-width: 830px) {
  .header-sect {
    padding: 0px 10px;
    gap: 10px;

    height: 110px;
  }
  .opac {
    position: relative;
  }
  header {
    height: 170px;
  }
  .buttons-header {
    position: absolute;
    top: 85px;
    left: 10px;
    height: 30px;
  }
  .affice-page {
    left: 120px;
    top: 140px;

    height: 30px;
  }
  .all-characters {
    margin: 50px 35px;
    width: 100vw;
  }
  .characters {
    width: 150px;
    height: 300px;
  }
  .characters-img-div {
    height: 200px;
  }
  .characters-img-div img {
    height: 100%;
    min-height: 150px;
  }
  .all-comics-characters {
    width: 100vw;
  }
  .comics-characters {
    width: 150px;
    height: 350px;
  }
  .comics-characters-img img {
    height: 290px;
  }
  .comics-img {
    height: 200px;
  }
  .comics-all {
    width: 150px;
    height: 305px;
  }
  .display-hide-2 {
    display: none;
  }
  .display-hide {
    display: initial;
    width: 100%;
    height: 18px;
    background-color: #a08801;
    position: absolute;
    bottom: 3px;
    left: 0px;
    border-radius: 10px;
    text-align: center;
    padding-top: 5px;
  }
}
@media (max-width: 400px) {
  .retour {
    display: none;
  }
}
/* .comics-img {
  width: 100%;
  height: 300px;
}
.comics-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.comics-all {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0px 0px 5px gold;
  width: 300px;
  height: 400px;
  overflow: hidden;
  color: white;
  border-radius: 15px;
  border: solid 5px #a08801;
}
.comics-all:hover {
  box-shadow: 0px 0px 15px gold;

  height: 450px;
} */
